* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-image {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner-image img {
    min-width: 100%;
    min-height: 100%;
}

header section:nth-child(2) {
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    font-size: 40px;
    margin-top: 10%;
}

header nav ul {
    list-style-type: none;
    overflow: hidden;
    background: repeating-linear-gradient( to right, rgb(61, 34, 107), rgb(200, 124, 255));
    width: 100%;
    padding-left: 46%;
}

header nav li {
    display: inline-flex;
    padding-top: 1em;
    padding-bottom: 1em;
}

header nav li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header nav li a:hover {
    transition: 0.2s;
    opacity: 0.5;
}

.top-text {
    display: flex;
    text-align: justify;
    color: white;
    font-size: 1.3em;
    padding-left: 4em;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: rgb(47, 47, 87);
    line-height: 1.8em;
}

.top-text div {
    max-width: 50%;
}

.top-text div h2 {
    padding-bottom: 0.5em;
}

.middle-text {
    display: flex;
    text-align: justify;
    justify-content: end;
    color: white;
    font-size: 1.3em;
    background-image: repeating-linear-gradient(to bottom, rgb(47, 47, 87),rgb(200, 41, 200));
    padding-right: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
    line-height: 1.8em;
}

.middle-text div {
    max-width: 50%;
}

.middle-text h2 {
    padding-bottom: 0.5em;
}

.bottom-text {
    display: flex;
    text-align: justify;
    justify-content: start;
    color: white;
    font-size: 1.3em;
    background-color: rgb(200, 41, 200);
    padding-left: 4em;
    padding-top: 6em;
    padding-bottom: 6em;
    line-height: 1.8em;
}

.bottom-text div {
    max-width: 50%;
}

.bottom-text div h2 {
    padding-bottom: 0.5em;
}

.footer-text {
    display: flex;
    background-image: repeating-linear-gradient(to bottom, rgb(110, 0, 183), black);
    color: white;
    padding: 8%;
    font-size: 20px;
}

.footer-text div:first-child {
    width: 33%;
}

.footer-text div:first-child h2 {
    font-size: 30px;
}

.footer-text div:first-child p {
    font-size: 20px;
    max-width: 50%;
}

.footer-text div:nth-child(2) {
    text-align: center;
    width: 33%;
}

.footer-text div:nth-child(3) {
    text-align: end;
    width: 33%;
}

.footer-text div:nth-child(3) img {
    width: 50px;
    height: auto;
}

.footer-text div:nth-child(3) img:hover {
    transition: 0.2s;
    opacity: 0.5;
}

/*begin pagina 2*/
.titel {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(47, 47, 87);
}

.artikelen {
    display: flex;
    background-image:linear-gradient( to bottom, rgb(47, 47, 87), rgb(178, 85, 214) );
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3em;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.artikelen div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
    margin-left: 1em;
    flex-grow: 1;
    flex-basis: 25%;
}

.artikelen div a {
    width: 17em;
    height: auto;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 20px;
}

.artikelen div a:hover {
    transition: 0.1s;
    box-shadow: 0px 5px 10px rgb(147, 147, 147);
    transform: translate(0,-10px);
}

.artikelen div a p {
    margin: 1em;
    height: 80px;
    font-weight: bold;
}

.artikelen div a img {
    width: 17em;
    height: 275px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*begin pagina 3*/

.main-content {
    background-image:linear-gradient( to bottom, rgb(47, 47, 87), rgb(178, 85, 214) );
    padding-top: 2em;
    padding-bottom: 2em;
}

.main-content h1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-content div:first-child {
    background-color: white;
    font-size: 18px;
    border-radius: 12px;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
}

.main-content div:nth-child(2) {
    padding-bottom: 1em;
}

.main-content div:nth-child(3) {
    padding-bottom: 1em;
}

.main-content div:nth-child(4) {
    padding-bottom: 1em;
}

.main-content div:nth-child(5) {
    padding-bottom: 1em;
}

.main-content div:nth-child(6) {
    padding-bottom: 1em;
}

.main-content div ol li {
    padding-bottom: 1em;
}